.title {
    font-size:4rem;
    letter-spacing: 2px;
    text-align: center;
    //background-color: red;
    padding: 0 1rem;
    display: block;
    width: 100%;
}

.description {
    font-size: 1.6rem;
    padding: 0rem 1rem;
    word-break: break-all;
    word-wrap: break-word;
}


.modalTitle {
    background-color: darkcyan;
}
