@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.gameView {
    width: 100%;
    height: auto;
    min-height: 90vh;
    background-image: linear-gradient(to top left, rgba($color-primary-light,.85), rgba($color-primary-dark, .85)), url('../../img/card-texture-1-edited.png');
    background-size: cover;
    background-position: center;
    padding: 1rem 0;

    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: .5fr .5fr repeat(8,  minmax(min-content,max-content)) 1fr;
    grid-gap: 1rem;

    @include respond(tab-port){ //width < 900?
       // grid-template-columns: .5fr .5fr repeat(8,  minmax(min-content,max-content)) 1fr;
    }

    @include respond(phone){ // width < 600?
        grid-template-columns: repeat(8,  minmax(min-content,max-content));
        grid-gap: .5rem;

    }



    .gameContainer {
        width: auto;
        height: auto;
        background-image: linear-gradient(rgba($color-secondary-light, .7), rgba($color-secondary-dark, .7)), url('../../img/texture-2.jpg');
        background-size: 175%;
        background-position: center;
        box-shadow: 0 1rem 3rem rgba($color-black, .6);
        padding: 2rem;
        border-radius: 5px;
        grid-row: 2 / 3;
        grid-column: 3 / span 8;
        display: grid;

        min-height: 100%;

        position: relative;
    }

    .grid {
        display: grid;

        &__16 {
            //** 4 x 4 GRID **//
            grid-template-columns: repeat(4, min-content);
            grid-template-rows: repeat(4, min-content);
        }

        &__18 {
            //** 3 x 6 GRID **//
            grid-template-columns: repeat(6, min-content);
            grid-template-rows: repeat(3, min-content);
        }

        &__36 {
            // //** 6 x 6 GRID **//
            grid-template-columns: repeat(6, min-content);
            grid-template-rows: repeat(6, min-content);
        }

        &__64 {
            //** 8 x 8 GRID **//
            grid-template-columns: repeat(16, min-content);
            grid-template-rows: repeat(4, min-content);

            @include respond(tab-port){ //width < 900?
                grid-template-columns: repeat(8, min-content);
                grid-template-rows: repeat(8, min-content);
            }
        
            @include respond(phone){ // width < 600?
                grid-template-columns: repeat(8, min-content);
                grid-template-rows: repeat(8, min-content);
            }
        }

       

        grid-gap: 1rem;
        justify-content: center;
        align-content: center;

    }
}