@import '../../sass/abstracts/variables';

.menuView {
    width: 100%;
    height: auto;
    min-height: 90vh;
    background: linear-gradient(180deg, rgba(205,122,0,.8), rgba(200,142,11,.8)), url('../../img/bg-img-main.jpg');
    background-size: cover;
    align-items: center;
    justify-items: center;

    display: grid;

    //grid-template-rows: repeat(4, 1fr);
    grid-template-rows: .75fr min-content min-content 1fr 0px;

    grid-template-columns: 6rem repeat(8, 1fr) 6rem ;

    grid-gap: 4rem;

    
    .name {
        font-size: 15rem;
        //background: darkgreen;
        line-height: .8;
        flex: 1 0 auto;
        text-align: center;
        align-self: center;
        letter-spacing: -2.3rem;
        font-family: 'Rowdies', cursive;
        font-weight: 300;
        color: rgba($color-secondary, 0.9);
        text-shadow: 0 1rem 2rem rgba($color-black, .6);
        transition: all .4s;



        grid-row: 1 /2;
        grid-column: 1/ -1;
        align-self: end;


        &:hover {
            transform: skewX(-20deg) scale(1.1);
            letter-spacing: -2rem;
            text-shadow: 0.2rem 1.5rem 2.2rem rgba($color-black, .6);
        }
    }


    .subtitle {
        font-size: 2.5rem;
        letter-spacing: .2rem;
        grid-row: 2 / 3;
        grid-column: 1/ -1;
        align-self: end;
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        color: $color-secondary-dark;
    }

    .buttonContainer {
        grid-row: 3 / 4;
        grid-column: 4/ span 4;
        //align-self: center;
        //background-color: grey;
        display: flex;
    }

    .gameListContainer {
        grid-row: 4 / 5;
        grid-column: 5 / span 2;
        width: 100%;
        height: auto;
        background-color: rgba($color-white, .75);
        border: 1px solid $color-secondary-light;
        box-shadow: 0 2rem 5rem rgba($color-black, .8);
        border-radius: .7rem;
        overflow: hidden;
        align-self: start;
        padding: 0;

    }
}