@import '../../sass/abstracts/variables';

.card {
    width: 100%;
    height: 100%;
    padding: 0;
    transition: all .3s ease;
    position: relative;
    //overflow:hidden;
    border-radius:5px;

    // &:hover .cardBack {
    //     transform: rotateY(180deg);
    // }    

    // &:hover .cardFront {
    //     transform: rotateY(360deg);
    // }

    &:hover {
        transform: translate(5px, -5px) scale(1.1);
    } 

    
    .cardBack {
        background-image: radial-gradient(rgb(63, 63, 63),$color-black);
        backface-visibility: hidden;
        transition: all .5s ease;
        border-radius: 5px;
        perspective: 150rem;
        -moz-perspective: 150rem;
        box-shadow: .2rem .5rem 1rem rgba($color-black, .8);
        overflow: hidden;

        &__flipped {

            transform: rotateY(180deg);
            //opacity: 0;

        }

        
        .cardBackSVG {
            fill:rgb(232, 218, 72);
            //fill: rgb(201, 185, 11);
            opacity: 50%;
            backface-visibility: hidden;
            transform: scale(1.15);

            &__16, &__18 {
                //16 & 18 cards
                height: 14.5rem;
                width: 12rem;
            }

            &__36 {
                //36 cards
                height: 9rem;
                width: 6.5rem;
            }

            &__64 {
                //64 Cards
                height: 9rem;
                width: 6.5rem;
            }

            
        }
    }

    .cardFront {
        background-color: $color-white;
        color: blue;
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition: all .5s ease;

        border-radius: 5px;
        perspective: 150rem;
        -moz-perspective: 150rem;
        box-shadow: .2rem .5rem 1rem rgba($color-black, .8);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .emojiIcon {
             font-size: 6rem;
        }

        
        &__flipped {

            transform: rotateY(360deg);
            //opacity: 0;

        }

        // display: none;
    }




        





   
}

.disappear {
    opacity: 0%;
}