@import '../../sass/abstracts/variables';

.title {
    font-size:4rem;
    letter-spacing: 2px;
    padding: 0 1rem;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-family: $font-primary;
}

.description {
    font-size: 1.4rem;
    padding: 1rem 1rem;
    word-break: break-word;
    word-wrap: normal;
    font-family: $font-secondary;
    font-weight: 400;
}


.modalTitle {
    width: 100%;
}


