.aboutModal {
    background-color: rgba(0, 0, 0, 0.6);
}

.aboutModal  .modal-content {
    background-color: var(--color-white) !important;
    border-radius: .7rem;
    overflow: hidden !important;
}